<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Kalkulatory</key>
	<dict>
                <key>Podzial</key>
		<dict>				

                        <key>Kalkulator programistyczny</key>
			<dict>
                                <key>Kalkulator programistyczny</key>
				<dict>

                                        <key>Opis</key>
                                        <string>Kalkulator do wykonywania obliczeń programistycznych</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 1</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 2</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 3</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 4</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 5</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 6</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 7</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 8</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 9</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 10</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 11</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 12</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 13</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 14</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 15</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 16</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 17</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>

                        <key>Kalkulator 18</key>
                        <dict>
                                <key>Kalkulator</key>
                                <dict>

                                        <key>Opis</key>
                                        <string>Kalkulator</string>
                                        <key>Ocena społeczności</key>
                                        <string>7/666</string>
                                </dict>
                        </dict>


		</dict>
	</dict>
</dict>
</plist>
